.contact{
    background-color:#2f3036;
    padding: 10px 20px;
}
.contact__header {
    text-align: center;
}
.contact__header h2{
    color: #cbc19d;
}
.contact__header p{
    color: #cbc19d;
}
.contact__form div{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    margin-top: 20px;
}
.contact__form div label{
    color: #cbc19d;
}

.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contact__form form{
    width: 100%;
    max-width: 800px
}

.contact__form input{
    height:30px;
    border:2px solid #cbc19d;
}
.contact__form input:focus {
    outline: none;
}

textarea{
    resize: none;
    border: 2px solid #cbc19d;
    height: 250px;
}
textarea:focus{
    outline: none;
}
.contact__submit{
    display: flex;
    justify-content: left;   
}

.contact__submit button{
    width: 100px;
    padding:10px;
    border: 2px solid#cbc19d ;
    color:#cbc19d;
    background-color:transparent ;
}

.contact__submit button:hover{
    background-color:#cbc19d ;
    transition: .2s;
    color: #2f3036;
}