.websites{
    padding: 10px;    
    background-color: #2f3036;
    padding: 10px;    
}
.website__cards{
    display: grid;
    grid-template-columns: auto auto  auto;
    place-items: center;
    margin-top: 20px;
    transition: .2s;
}
.websites__header h3 {
    color: #cbc19d
}

.websites__header{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top:20px;
    /* background-color: aqua ; */
}
.websites__header p{
    font-size: 20px;
    margin-top: 15px;
    color: #cbc19d;
}
.see__more{
    text-align: center;
    margin-top: 20px;
    color: #cbc19d;
    text-decoration: none;
}
